# Frontend
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env

# Backend
backend/__pycache__/
**/__pycache__/
*.pyc
.pytest_cache/
backend/venv/
backend/.venv/
backend/*.db
backend/*.sqlite3
backend/.env
backend/logs/

# Engine executable (Too large for GitHub)
backend/engine/stockfish.exe
backend/engine/stockfish
# Általános kényes fájlok
.env
.DS_Store
.vscode/
